@model IEnumerable<Models.Models.DataModels.AddToCart>
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    double totalPrice = 0;
}

@foreach (var item in Model)
{
    <tr class="cart_item" id="cart_product_@item.CartId">
        <td class="product-remove">
            <a href="#" class="remove remove-cart-product" title="Xóa sản phẩm này" data-product_id="@item.CartId">×</a>
        </td>
        <td class="product-thumbnail">
            <a href=""><img width="130" height="145" src="@item.product.FeatureImage" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt=""></a>
        </td>
        <td class="product-name" data-title="Sản phẩm">
            <a href="">@item.product.ProductName</a><p></p>
            <dl class="variation">
                <dt class="variation-Chtliu">@item.AttrName</dt>
                <dd class="variation-Chtliu">
                    <p></p>
                </dd>
            </dl>
        </td>
        @{
            var price = item.Price * item.Quantity;
            totalPrice = totalPrice + price;
        }
        <td class="product-price" data-title="Giá">
            <span class="woocommerce-Price-amount amount">@String.Format(info, "{0:c00}", item.Price)</span>
        </td>
        <td class="product-quantity" data-title="Số lượng">
            <div class="quantity">
                <input style="display:inline" type="" min="" name="Quantity" value="@item.Quantity" id="Quantity" class="input-text qty text">
            </div>
        </td>
        <td class="product-subtotal" data-title="Tổng cộng">
            <span class="woocommerce-Price-amount amount">@String.Format(info, "{0:c00}", price)</span>
        </td>
        <td colspan="6" class="actions">
            <input data-id="@item.CartId" type='submit' class='button btn-submit _update_cart' name='update_cart' value='Cập nhật'>
        </td>
    </tr>
}
@if (Model.Count() > 0)
{
    <tr>
        <td colspan="7" class="actions">
            <div class="cart-collaterals">
                <div class="cart_totals ">
                    <h2>Tổng giỏ hàng</h2>
                    <table id="table_reload" cellspacing="0" class="shop_table shop_table_responsive">
                        <tbody>
                            <tr class="cart-subtotal"></tr>
                            <tr class="order-total">
                                <th>Tổng cộng</th>
                                <td data-title="Tổng cộng"><strong>@String.Format(info, "{0:c00}", totalPrice)</strong> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="actions right">
                                    <a href="@Url.Action("Payment","Cart")" class="btn btn-success btn-lg">Thanh toán</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
}