@model Models.ViewModels.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-css-fluid">
    <section class="main-css padding-config">
        <div class="main-container">
            <!--START MAIN RIGHT -->
            <div class="main-right woo-control-right fr">
                <div class="page-control-right">
                    <div class="page-fluid">
                        @if (!String.IsNullOrEmpty(ViewBag.success))
                        {
                            <div class="success" style="padding:10px;font-size:18px">
                                @ViewBag.success <a href="@Url.Action("Login","Users")" class="alert-link">Đăng nhập</a>.
                            </div>
                        }
                        else
                        {
                            <h1>Vui lòng nhập mật khẩu mới</h1>
                            <div class="img-responsive">
                                <div class="woocommerce">
                                    @if (!String.IsNullOrEmpty(ViewBag.error))
                                    {
                                        <ul class="woocommerce-error">
                                            <li>@ViewBag.error</li>
                                        </ul>

                                    }
                                    <form method="post" class="woocommerce-ResetPassword lost_reset_password">
                                        <p>Nhập mật khẩu mới cho tài khoản của bạn</p>
                                        @Html.HiddenFor(model => model.ResetCode)
                                        <p class="woocommerce-FormRow woocommerce-FormRow--first form-row form-row-first">
                                            <label for="NewPassword">Nhập mật khẩu mới</label><br>
                                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "woocommerce-Input woocommerce-Input--text input-text" } })
                                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                        </p>
                                        <p class="woocommerce-FormRow woocommerce-FormRow--first form-row form-row-first">
                                            <label for="confrimPassword">Nhập lại mật khẩu mới</label><br>
                                            @Html.EditorFor(model => model.confrimPassword, new { htmlAttributes = new { @class = "woocommerce-Input woocommerce-Input--text input-text" } })
                                            @Html.ValidationMessageFor(model => model.confrimPassword, "", new { @class = "text-danger" })
                                        </p>
                                        <div class="clear"></div>
                                        <p class="woocommerce-FormRow form-row">
                                            <input type="submit" class="woocommerce-Button button" value="Đặt lại mật khẩu">
                                        </p>
                                    </form>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <!--END MAIN RIGHT -->
            <!--START MAIN LEFT -->
            @{Html.RenderAction("Mainleft", "Home");}
            <!--END MAIN LEFT -->
        </div>
        <!--END MAIN CONTAINER -->
    </section>
</div>


