@model Models.Models.DataModels.TypeAttr
@{
    ViewBag.Title = "Danh sách thuộc tính";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Style{
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Areas/Admin/Assets/plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
}
<div class="col-sm-12">
    <div class="white-box">
        <div class="row">
            <div class=" col-md-6 col-xs-6 right">
                <button data-toggle="modal" data-target="#CreateTypeAttr" style="border-radius:unset" type="button" class="btn btn-info btn-rounded btd_addCate">Thêm mới</button>
            </div>
            <div class="col-md-6 col-xs-6">
                <a data-toggle="tooltip" data-original-title="Đến trang thuộc tính sản phẩm" style="border-radius:unset;float: right" href="@Url.Action("Attribute","TypeAttr")" class="btn btn-pinterest btn-rounded">Thuộc tính sản phẩm</a>
            </div>
        </div>
        <h3 class="box-title m-b-0">
        </h3>
        <p class="text-muted m-b-30"></p>
        <div class="table-responsive" id="reload">
            <table id="myTable" class="display table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tên thuộc tính</th>
                        <th>vị trí sắp xếp</th>
                        <th>Trang thái</th>
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!--Create New TypeAttr-->
<div class="modal fade" id="CreateTypeAttr">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-body">
                <p style="font-size:18px" class="modal-title text-danger bold">Thêm mới kiểu thuộc tính</p>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @using (Html.BeginForm("Create", "TypeAttr", FormMethod.Post, new { @id = "create-typeattr-formSubmit" }))
                {
                    <div class="form-group-sm">
                        <label for="ParentName" class="control-label">Kiểu thuộc tính</label>
                        @Html.EditorFor(model => model.TypeName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group-sm">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div>  <label class="control-label">Trạng thái</label></div>
                                <input id="Status" name="Status" type="radio" value="1" checked />
                                <label for="Status">Kích hoạt</label>
                                <input id="StatusdeActive" name="Status" type="radio" value="0" />
                                <label for="StatusdeActive">Tạm ẩn</label>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="btn-create-typeattr" type="button" class="btn btn-info btn-sm" style="border-radius:0">Thêm mới</button>
                <button type="button" class="btn btn-pinterest btn-sm" style="border-radius:0" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>
<!--Edit TypeAttr-->
<div class="modal fade" id="EditTypeAttr">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-body">
                <p style="font-size:18px" class="modal-title text-danger bold">Chỉnh kiểu thuộc tính</p>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @using (Html.BeginForm("Create", "TypeAttr", FormMethod.Post, new { @id = "edit-typeattr-formSubmit" }))
                {
                    @Html.HiddenFor(model => model.TypeId)
                    <div class="form-group-sm">
                        <label for="ParentName" class="control-label">Kiểu thuộc tính</label>
                        @Html.EditorFor(model => model.TypeName, new { htmlAttributes = new { @class = "form-control", @id = "EditTypeAttrName" } })
                    </div>
                    <div class="form-group-sm">
                        <label for="ParentName" class="control-label">Vị trí sắp xếp</label>
                        @Html.EditorFor(model => model.OrderBy, new { htmlAttributes = new { @class = "form-control", @id = "EditOrderByTypeAttr", @min = "1" } })
                        @Html.ValidationMessageFor(model => model.OrderBy, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group-sm">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class=""><label class="control-label">Trạng thái</label></div>
                                <div id="moreHtml" class="col-xs-12 col-md-12"></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="btn-edit-typeattr" type="button" class="btn btn-info btn-sm" style="border-radius:0">Chỉnh sửa</button>
                <button type="button" class="btn btn-pinterest btn-sm" style="border-radius:0" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>
<!--Model delete-->
<div class="modal fade" id="DeleteTypeAttr">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-body">
                <h4 class="modal-title text-danger bold">Thông báo</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Bạn có chắc muốn xoá ?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button id="confirmdelete" type="button" class="btn btn-danger">Xoá</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/Areas/Admin/Assets/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script src="~/Areas/Admin/Assets/js/notify.min.js" charset="utf-8"></script>
    <script>
        $(document).ready(function () {
            var datatable = $('#myTable').DataTable({
                 "ajax": {
                     "type": "GET",
                     "url": "@Url.Action("Getdata", "TypeAttr")",
                     "dataType": "JSON",
                 },
                 "columns": [
                     { "data": "TypeName"},
                     { "data": "OrderBy"},
                     {
                         "data": "Status", "render": function (status) {
                             if (status == 1) {
                                 return '<span style="font-weight: 700;padding: 5px 14px 4px;" class="label label-success">Hoạt động</span>'
                             } else if (status == 0) {
                                 return '<span style="font-weight: 700;padding: 5px 14px 4px;" class="label label-warning">Đã ẩn</span>'
                             }
                         }
                     },
                     {
                         "data": "TypeId", "render": function (data) {
                             return '<a data-id="' + data +'" class="btn btn-sm btn-icon btn-pure btn-outline edit-row-btn edit-typeattr" data-toggle="tooltip" data-original-title="Chỉnh sửa"><i style="font-size:15px" class="fa fa-pencil text-inverse m-r-10" aria-hidden="true"></i></a>' +
                                 '<a data-toggle="modal" data-target="#myModal" data-id="' + data +'" class="btn btn-sm btn-icon btn-pure btn-outline edit-row-btn delete-typeattr" ><i data-toggle="tooltip" data-original-title="Xoá" style="font-size:15px" class="fa fa-close text-danger tooltip-danger" aria-hidden="true"></i></a>'
                         }
                     },
                 ],
                 "oLanguage": {
                     "oPaginate": {
                         "sPrevious": "Trang trước",
                         "sNext": "Trang sau",
                         "sLast": "Trang cuối",
                         "sFirst": "Trang đầu",
                     },
                     //search
                     "sSearch": "Tìm kiếm:",
                     "sLengthMenu": "Hiện thị _MENU_ số hàng",
                     "sInfo": "Trang _START_ tổng _TOTAL_ (_START_ to _END_)",
                     "sInfoEmpty": 'Không có gì để hiển thị',
                     "sEmptyTable": "Không có dữ liệu, click vào <span style='font-weight:700'>Thêm mới</span> để thêm dữ liệu",
                },
                "order": [[1, "asc"]]
             });
             //allow tooltip active
             datatable.on('draw', function () {
                 $('[data-toggle="tooltip"]').tooltip();
             });

            //create new Typeattr
            $("#btn-create-typeattr").on('click', function () {
                var data = $("#create-typeattr-formSubmit").serialize();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Create", "TypeAttr")",
                    data: data,
                    dataType: "JSON",
                    success: function (res) {
                        if (res.success) {
                            $('.notifyjs-wrapper').remove();
                            $.notify(res.success, {
                                globalPosition: "top center",
                                className: "success",
                            })
                            $("#CreateTypeAttr").modal('hide');
                            datatable.ajax.reload();
                        } else {
                            $('.notifyjs-wrapper').remove();
                            $.notify(res.error, {
                                globalPosition: "top center",
                                className: "error",
                            })
                        }
                    }
                })
            })

            //GetId and Value Edit TypeAttr
            $("#myTable").on('click', 'a.edit-typeattr', function () {
                var tId = $(this).data("id");
                $.ajax({
                    type: "POSt",
                    url: "@Url.Action("GetId", "TypeAttr")/" + tId,
                    success: function (res) {
                        console.log(res);
                        $("#TypeId").val(res.TypeId);
                        $("#EditTypeAttrName").val(res.TypeName);
                        $("#EditOrderByTypeAttr").val(res.OrderBy);
                        var _html = "";
                        if (res.Status == 0) {
                            _html += '<input id="forStatusActive" type="radio" name="Status"  value="1" /> ' +
                                '<label class="p-r-10" for="forStatusActive" id ="forStatusActive">Kích hoạt</label >';
                            _html += '<input id="forStatusDeActive" type="radio" checked name="Status" value="0" /> ' +
                                '<label class="p-r-10" for="forStatusDeActive" id ="forStatusDeActive"> Tạm khoá</label >';
                            $("#moreHtml").html(_html)
                        } else if (res.Status == 1) {
                            _html += '<input id="forStatusActive" type="radio" checked name="Status" value="1" /> ' +
                                '<label class="p-r-10" for="forStatusActive"  id ="forStatusActive">Kích hoạt</label >';
                            _html += '<input id="forStatusDeActive" type="radio" name="Status" value="0" /> ' +
                                '<label class="p-r-10" for="forStatusDeActive" id ="forStatusDeActive">Tạm khoá</label >';
                            $("#moreHtml").html(_html)
                        }
                        $("#EditTypeAttr").modal("show");
                    }
                })
            })
            //Edit TypeAttr
            $("#btn-edit-typeattr").on('click', function () {
                var data = $("#edit-typeattr-formSubmit").serialize();
                $.ajax({
                    type: "post",
                    url: "@Url.Action("Edit","TypeAttr")",
                    data: data,
                    success: function (res) {
                        if (res.success) {
                            $('.notifyjs-wrapper').remove();
                            $.notify(res.success, {
                                globalPosition: "top center",
                                className: "success",
                            })
                            $("#EditTypeAttr").modal("hide");
                            datatable.ajax.reload();
                        } else {
                            $('.notifyjs-wrapper').remove();
                            $.notify(res.error, {
                                globalPosition: "top center",
                                className: "error",
                            })
                        }
                    }
                })
            })

            //getid Delete TypeAttr
            var id;
            $("#myTable").on('click', 'a.delete-typeattr', function () {
                id = $(this).data("id");
                $("#DeleteTypeAttr").modal("show");
            })
            // Delete TypeAttr
            $("#confirmdelete").on('click', function () {
                if (id != undefined) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete","TypeAttr")",
                        data: { id: id },
                        dataType: "JSON",
                        success: function (res) {
                            if (res.success) {
                                $('.notifyjs-wrapper').remove();
                                $.notify(res.success, {
                                    globalPosition: "top center",
                                    className: "success",
                                })
                                $("#DeleteTypeAttr").modal("hide");
                                datatable.ajax.reload();
                            } else {
                                $('.notifyjs-wrapper').remove();
                                $.notify(res.error, {
                                    globalPosition: "top center",
                                    className: "error",
                                })
                            }
                        }
                    })
                } else {
                    $('.notifyjs-wrapper').remove();
                    $.notify("Không tìm thấy", {
                        globalPosition: "top center",
                        className: "error",
                    })
                }
            })

            // touchpin boostrap
            $("input[name='OrderBy']").TouchSpin({
                min: 1,
                max: 100000000000000,
                step: 1,
                decimals: 0,
                boostat: 5,
                maxboostedstep: 10,
            });
            $('.input-group-btn').remove();
        })
    </script>
}
